################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/420projectreal/FileContentIndex/2777f8e1-8c83-4f3c-881f-7c952afff2e3.vsidx
/.vs/420projectreal/FileContentIndex/27906438-26be-4788-9e99-059d6b52badc.vsidx
/.vs/420projectreal/FileContentIndex/32687972-2448-4371-bb87-da949f4423f0.vsidx
/.vs/420projectreal/FileContentIndex/554a2bdd-4c4b-475f-9bc6-5ca3189a0fe8.vsidx
/.vs/420projectreal/FileContentIndex/9d040e56-2bde-415d-84ef-cf22698529b6.vsidx
/.vs/420projectreal/FileContentIndex/ec5ae20c-6a60-4f29-b4b6-e4fef72dc053.vsidx
/.vs/420projectreal/FileContentIndex/e31cbec4-097b-4bed-bafb-17b0b484125a.vsidx
/.vs/420projectreal/FileContentIndex/f8b3378f-9bb6-4277-9bac-1162873de4b0.vsidx
/.vs/420projectreal/FileContentIndex/0c781764-db86-4239-a376-417c6a33eb32.vsidx
/.vs/420projectreal/FileContentIndex/5635dca2-5fa8-41b1-98ce-947688c78837.vsidx
/.vs/420projectreal/FileContentIndex/fe48f7c0-b8b1-4ea6-baee-c80b5071066f.vsidx
/.vs/420projectreal/DesignTimeBuild/.dtbcache.v2
/.vs/420projectreal/v17/.futdcache.v2
/.vs/420projectreal/v17/.suo
